<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {

            position: absolute;
            top: 50%;
            left: 2%;
            margin: 0 0 0 0;
            transform: translate( 0%, -50%)
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Headline</h1>
    <div>{{ headline }}</div>

    <h1>Body</h1>
    <div>{{ body }}</div>

    <h1>Output</h1>
    <div>Agree :- <strong>{{ output1 }}</strong>.</div>
    <h1>Output</h1>
    <div>Disagree :- <strong>{{ output2 }}</strong>.</div>
    <h1>Output</h1>
    <div>Discuss :- <strong>{{ output3 }}</strong>.</div>
    <h1>Output</h1>
    <div>Uncorrelated :- <strong>{{ output4 }}</strong>.</div>

</div>
</div>
</div>
</body>
</html>